CompileFlags:
  Add:
    - -I../..
    - -I../../dependencies
    - -I../../dependencies/libusb-1.0.27/include
    - -I../../dependencies/tinyuz
    - -I../../dependencies/HDiffPatch
    - -I../../dependencies/HDiffPatch/libHDiffPatch/HDiff/private_diff/libdivsufsort
    - -I../../dependencies/json
    - -I../../RGBController
    - -I../../hidapi_wrapper
    - -I../../i2c_smbus
    - -I../../SPDAccessor
    - -D_IS_USED_MULTITHREAD=0
    - -std=c++17
